/*
+======================={PROJECT - PRESENTATION}======================+
|                                                                     |
|Project Name    : Coding-Challenge                                   |
|Categorie       : Dynamic Website                                    |
|FrameWorks      : Bootstrap - Material Design - Materialize          |
|Author          : OrbitTurner                                        |
|Official Name   : Mohamed GUEYE                                      |
|Version         : v.0.1                                              |
|Created         : 15-Mai-2019                                        |
|Last update     : 15-Mai-2019                                        |
|Partie          : MAIN INDEX                                         | 
|LANGAGE UTILISE : ANGLAIS - FRANCAIS                                 |
+=====================================================================+
*/
/*===========================>{ W E B   S T Y L E S }<===========================*/
::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
	border: 1px solid #000;
	border-radius: 10px;
	background-color: #CCCCCC;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #4c88ef;
	background-image: -webkit-linear-gradient(90deg,
											  transparent,
											  rgba(0, 0, 0, 0.4) 50%,
											  transparent,
											  transparent)
}

/*SELECTION SET*/
::selection{
    background: #4c88ef;
    color: #fff;
}

/*===========================>{ E N D  OF  W E B   S T Y L E S }<===========================*/
/*----------------------------------------*/
/* 		PARAMETRES PAR DEFAUT CSS
/*----------------------------------------*/
@font-face {
	font-family: 'Azonix Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Azonix Regular'), url('Azonix.woff') format('woff');
}

/*===========================>{ NAVBAR & CAROUSEL }<===========================*/
/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar Animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background: linear-gradient(135deg, #4c88ef 0, #17e4d9 100%); }

/*Landing Text*/
#landText{
    font-size: 3.5rem;
    font-family: 'Azonix Regular'; 
    letter-spacing: .3rem;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }


html,
body,
header,
.carousel {
    height: 100%;
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
    }
}


/*Button Carousel*/
#btn-load {
    overflow: hidden !important;
}

/* #btn-load::before {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: -100% !important;
    background: linear-gradient(135deg, #4c88ef 0, #17e4d9 100%) !important;
} */

#btn-load:hover {
    border-color: transparent !important;
    background: linear-gradient(135deg, #4c88ef 0, #17e4d9 100%) !important;
    transition: all 0.8s ease-in-out;
}

/* #btn-load:hover::before {
        left: 0 !important;
} */
/*===========================>{ END OF NAVBAR & CAROUSEL }<===========================*/

